
<!-- ESTE ES UN COMENTARIO-->
<div class="container">
    <div class="row">
        <nav role="navigation" class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item" ng-repeat="filter in $ctrl.products.filters">
                    <p ng-repeat="val in filter.values">
                        <a href="" class="breadcrumbs__link" ng-repeat="category in val.path_from_root">{{category.name}} <span ng-class="val.path_from_root.length > 1 ? 'arrow' : 'arrow-none' "> &#62; </span></a></span>
                      
                    </p>
                </li>
            </ul>
        </nav>
    </div>
</div>




